<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBookService" />
                <binding name="BasicHttpBinding_ILoanService" />
                <binding name="BasicHttpBinding_IReaderService" />
                <binding name="BasicHttpBinding_IReviewService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/BookService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IBookService" contract="IBookService"
                name="BasicHttpBinding_IBookService" />
            <endpoint address="http://localhost:8080/LoanService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ILoanService" contract="ILoanService"
                name="BasicHttpBinding_ILoanService" />
            <endpoint address="http://localhost:8080/ReaderService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IReaderService" contract="IReaderService"
                name="BasicHttpBinding_IReaderService" />
            <endpoint address="http://localhost:8080/ReviewService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IReviewService" contract="IReviewService"
                name="BasicHttpBinding_IReviewService" />
        </client>
    </system.serviceModel>
</configuration>