<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <connectionStrings>
    <add name="projectDatabaseConnection" connectionString="data source=MUSPN0C9\SQLEXPRESS;initial catalog=projectDataBase;integrated security=True;pooling=False;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.serviceModel>
    <services>
      <service name="WCF_Project2.LibraryService" behaviorConfiguration="metadataSupport">
        <endpoint address="BookService" binding="basicHttpBinding" contract="WCF_Project2.IBookService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="LoanService" binding="basicHttpBinding" contract="WCF_Project2.ILoanService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="ReaderService" binding="basicHttpBinding" contract="WCF_Project2.IReaderService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="ReviewService" binding="basicHttpBinding" contract="WCF_Project2.IReviewService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" name="mexhttp" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="mynet" sendTimeout="00:00:05" portSharingEnabled="true">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="metadataSupport">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>